.emoji-navbar {
    padding: 15px;
    position: relative;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 33px;
    text-align: center;
    color: #333;
  }
  
.emoji-navbar img {
  position: relative;
  padding: 0 14px; 
  height: 35px;
}

.github{
  top: 28px;
  right: -10px;
  font-size: 15px;
  position: absolute;
  border-radius:50px ; 
  background-color: #333;
  color: white;
  height: 30px;
  width: 15.5%;
  text-decoration: none;
  padding-top: 8px;
  transform: rotate(35deg);
  margin-top: 1%;
}
